<div class="canvas-wrapper">
  <div class="actions">
    <div class="action-group-add">
      <button mat-stroked-button (click)="addParkingPlace()">Add <fa-icon [icon]="parkingIcon"></fa-icon></button>
      <button mat-stroked-button (click)="addBeacon()"> Add <fa-icon [icon]="beaconIcon"></fa-icon></button>
    </div>
    <button mat-stroked-button (click)="removeActiveObject()">Remove <fa-icon [icon]="trashIcon"></fa-icon></button>
    <button class="action-submit" mat-stroked-button (click)="submit()">Submit</button>
  </div>
  <canvas class="canvas" id="canvas"></canvas>
</div>
